@font-face {
  font-family: 'PokemonClassic';
  src: url('./fonts/PokemonClassic.woff') format('woff');
  font-weight: bold;
  font-style: bold;
}

body { 
  background-image: url("./photos/130389.gif");

}

h1, h2, h3, pr {
  font-family: 'PokemonClassic', sans-serif;
}

#title1, #title2 {
  text-align: center;
  color: brown;

}

#title1 {
  margin-top: 50px;
}

#title2 {
  margin-top: 100px;
}


.pokemon {
  margin-top: 100px;
  margin-left: -100px;
  display: flex;
  justify-content: center;
  align-items: center;   
  height: 100;                
  text-align: center;  
}      

#oak{
  height: 600px;
  width: auto;
  margin-left: 1050px;
  margin-top: -340px;
  display: inline-block;

}
.pokemon img {
  width: 200px;      
  height: 200px;     
  object-fit: contain;
  margin: 0 10px;
}

.pokemon img:nth-child(1) { /* charmander */
  margin-top: -60px; 
}


